.registration{
    background-color: #EAF9FB;
    border-style: dashed;
    border-radius: 10px;
    border-width: 3px;
    border-color: gray;
}

.bg_color{
    background-color: #EAF9FB;
}

.width{
    max-width: 200px;
}
