<app-navbar></app-navbar>
<div class="container mt-5">
  <div class="row gx-5 align-items-center">
    <div class="col-6">
      <div class="container bg_color registration text-center width">
        <div class="mb-3 mt-3"><button type="button" (click)="change_patient()" id="btn_patient" class="btn btn-outline-primary">Sign Up as Patient</button></div>
        <div class="mb-3"><button type="button" (click)="change_doctor()" id="btn_doctor" class="btn btn-outline-primary">Sign Up as Physician</button></div>
      </div>
    </div>
    <div class="col-6">
      <div class="registration">
        <div class="card bg_color">
              <div class="card-body">
                  <form>
                      <h5 id="actor" class="card-title">Patient</h5>
                      <div class="mb-3">
                        <label for="fullname" class="form-label">Full name</label>
                        <input type="text" [(ngModel)]="fullname" [ngModelOptions]="{standalone: true}" class="form-control" id="fullname" name="fullname" required>
                      </div>
                      <div class="mb-3">
                        <label for="email" class="form-label" >Email address</label>
                        <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control" id="email" aria-describedby="emailHelp" required>
                      </div>
                      <div class="row">
                        <div class="col-6">
                          <div class="mb-3">
                            <label for="gender" id="option1" class="form-label">Gender</label>
                            <input type="text" [(ngModel)]="gender" [ngModelOptions]="{standalone: true}" class="form-control" name="gender" required>
                          </div>    
                        </div>
                        <div class="col-6">
                          <div class="mb-3">
                            <label for="dob" id="option2" class="form-label">Date of birth</label>
                            <input type="text" [(ngModel)]="dob" [ngModelOptions]="{standalone: true}" class="form-control" name="dob" required>
                          </div>    
                        </div>
                      </div>
                      <div class="mb-3">
                        <label for="hcn" id="option3" class="form-label">Health Card Number</label>
                        <input type="text" [(ngModel)]="hcn" [ngModelOptions]="{standalone: true}" class="form-control"  name="hcn" required>
                      </div>
                      <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control" id="password" name="password" required>
                      </div>
                      <button type="submit" (click)="register()" class="btn btn-primary">Submit</button>
                  </form>
              </div>
          </div>    
      </div>      
    </div>
  </div>
</div>  