<nav class="navbar">
  <div class="navbar-container">
      <a href="">
          <img src="./assets/Free_Sample_By_Wix.jpg" alt="Logo" width="50" height="40" class="d-inline-block align-text-top" >
      </a>
      <div><a href="">Home</a></div>
      <div><a href="/appointments">Appointments</a></div>
      
      <div><a href="/patient">Patient</a></div>

      <div *ngIf="!authService.isLoggedIn"><a href="/login">Sign in</a></div>
      <div *ngIf="authService.isLoggedIn" (click)="authService.logout()" class="color"><a href="/">Sign out</a></div>
   
      <div class="color" *ngIf="!authService.isLoggedIn"><a href="/registration">Sign up</a></div>
  </div>
</nav>

