<app-navbar></app-navbar>
<h1>Welcome to DocApp - Your Trusted Health Companion!</h1>

<div class="container">
    <div class="text-block">
      Your health is your most valuable asset and our mission is to make your healthcare journey stress-free, 
      bringing a reliable platform to book your doctors' appointments easily and effortlessly.
    </div>
    <img class="image" src="./assets/home.png" />
    <div class="text-block2">No account yet? Register in just a few steps!</div>
</div>


  
